@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* .container {
  max-width: 1680px;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  margin-left: auto;
  margin-right: auto;
} */

.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
